{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <!-- Green colored box -->
        <div class="p-4 border rounded" style="background-color: #ced4da;; border-width: 5px; border-color: #cccccc;">
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUserName" name="username" placeholder="User Name" required>
                    <label for="floatingUserName">User Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <!-- Forgot Password -->
                <div class="text-center mt-3">
                    <a href="{% url 'forget_pass' %}" class="text-light">Forgot Password?</a>
                </div>
                <br>

                 <div>
                    <a href="{% url 'log_base' %}" class="btn btn-primary w-100">Submit</a>
                </div>
                <br>

                <!-- Sign In Button -->
                <div>
                    <a href="{% url 'signup' %}" class="btn btn-primary w-100">Sign Up</a>
                </div>
                <br>

                <!-- Login with -->
                <div class="text-center mt-3">
                    <a href="{% url 'login_with' %}" class="text-light">Login with</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
