{% extends "base.html" %} {% block content %}
<div
    class="container d-flex justify-content-center align-items-center"
    style="min-height: 100vh"
>
    <div class="col-md-4">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div
                class="p-4 border rounded"
                style="
                    border-width: 2px;
                    border-color: #333;
                    background-color: #fff;
                "
            >
                <!-- Signup Form Fields -->
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="userName"
                        name="username"
                        placeholder="Username"
                        required
                    />
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Email"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input
                        type="number"
                        class="form-control"
                        id="phone"
                        name="phone"
                        placeholder="Phone Number"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label"
                        >Confirm Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        name="confirm_password"
                        placeholder="Confirm Password"
                        required
                    />
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control" name="user_type" required>
                        <option value="user">User</option>
                        <option value="shop_owner">Shop Owner</option>
                        <option value="rider">Rider</option>
                    </select>
                    <label for="user_type">Select User Type</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
