{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Academic Books</h1>
<div class="book-container">
    {% for p in all_books %}
        {% if p.genre == 'academic' %}
            <div class="card">
                <img
                    src="{% static 'images/ab_1.jpg' %}"
                    class="card-img-top"
                    alt="Book Image"
                />
                <div class="card-body">
                    <p class="card-text">
                        tk = {{ p.price }}
                    </p>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>No academic books available.</p>
    {% endfor %}
</div>
{% endblock %}
