{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="book-container">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Serial</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
         </tr>
      </thead>
      <tbody>
         {% for p in all_books %}
            {% if p.genre == 'fiction' %}
               <tr>
                  <td>{{ p.book_id }}</td>
                  <td>{{ p.book_name }}</td>
                  <td>{{ p.price }}</td>
               </tr>
            {% endif %}
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}
