/* Landing Page Background (No Blur) */
body.landing-page {
    background-image: url('/static/image/background image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin: 0;

}

/* Blurred Background for Other Pages */
body.blur-page {
    background-image: url('/static/image/background image2.png'); /* Same background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body.blur-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: inherit;
    filter: blur(7px);
    z-index: -1;
}
