{% extends "base.html" %}

{% block body_class %}blur-page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ product.book_name }}</h2>

    <ul class="list-group">
        <li class="list-group-item">
            <strong>Price:</strong> TK. {{ product.price }}
        </li>
        <li class="list-group-item">
            <strong>Genre:</strong> {{ product.genre|default:"Not specified" }}
        </li>
        <li class="list-group-item">
            <strong>Description:</strong> {{ product.description|default:"No description available." }}
        </li>
        <li class="list-group-item">
            <strong>Availability:</strong> 
            {% if product.stock_quantity > 0 %}
                Available
            {% else %}
                Out of Stock
            {% endif %}
        </li>
    </ul>

</div>
{% endblock %}
