{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="centered-content" style="color: black;">
        <h1><strong>Looking for books?</strong></h1>
        <h5>Whether you're in the mood to buy or just borrow for a while, we've got you covered.</h5>
        <h5>Subscribe for just 1,000 BDT per month and enjoy access to any 10 books of your choice. You'll only pay for delivery!</h5>
        <h5>With our subscription, you can dive into your favorite reads for an entire month. So why wait?</h5>
        <h5><strong>Subscribe today and start your book adventure!</strong></h5>
    </div>
</div>
{% endblock %}
